div.form-container{
    width:75%;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-container .main{
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    justify-content: center;
    width:50%;
}
.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    margin: 0.5rem 0;
}

.form-group label{
    text-wrap: nowrap;
    margin: 0 0.5rem 0 0;
}

.form-control{
    width: 100%;
    height: max-content;
    border: 1px solid gray;
    font-family: inherit;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}