.header .container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-height: 100%;
    padding: 0.75rem 0 0.5rem 0;
}

.header .container .nav-button {
    display: none;
}

.header .brand-logo {
    background-color: #808080;
    margin: 1rem;
    max-height: 40px;
    align-self: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0;
}

.nav-bar ul {
    display: flex;
    padding: 0 1rem 0 0;
}

.nav-bar .nav-link {
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 5px;
}

.nav-link a {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    color: #e9e9e9;
    text-decoration: underline;
}

.nav-bar .nav-link:hover,
button:hover {
    color: #000000;
    box-shadow: 0 0 1000px inset rgb(0, 0, 0, 0.05);
    text-decoration: none !important;
}

.nav-bar .nav-link:active,
button:active {
    color: #000000;
    box-shadow: 0 0 1000px inset rgb(0, 0, 0, 0.1);
    text-decoration: none !important;
    filter: drop-shadow(#505050 0rem 0rem 1px);
}

.nav-bar .nav-link:focus,
button:focus {
    color: #000000;
    text-decoration: none !important;
    filter: drop-shadow(#0000004b 0rem 0rem 2px);
}


.text-reset {
    text-decoration: none;
    color: inherit;
}

.text-reset:hover {
    text-decoration: none !important;
    color: inherit;
}

.footer {
    color: #ffffff;
    background-color: #495e57;
    margin-top: auto;
}

.footer .container {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    min-height: 20dvh;
}

.footer .brand-logo {
    background-color: #808080;
    margin: 1rem;
    max-width: 100px;
    height: 150px;
    align-self: center;
}

.footer .footer-title {
    margin: 0 0 0.5rem 0;
}

.footer .nav-link {
    margin: 0.25rem 0;
    padding: 0 0 0 0.5rem;
}


.hero-container {
    background-color: #495e57;
}

.hero-container .container {
    padding: 0 20rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    color: #ffffff;
}

.hero p {
    max-width: 80%;
}


.hero button,
.highlight .title-bar button {
    border: none;
    height: 100%;
    padding: 0.65rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: #f3cd31;
}

.hero-container .hero-image {
    background-color: #808080;
    justify-self: center;
    position: relative;
    display: block;
    width: 300px;
    height: 400px;
    top: 10%;
    border-radius: 2rem;
}

.highlight {
    margin-top: 5rem;
}

.highlight .title-bar {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 3rem 0;
}


.highlight section {
    display: flex;
    padding: 3rem 3rem;

}

.highlight .card:hover {
    transition: 10ms;
    scale: 105%;
}

.card {
    background-color: #EDEFEE;
    padding: 0 2rem 1rem 2rem;
    border-radius: 10px;
    margin: 0.5rem;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.card .card-image {
    background-color: #808080;
    display: block;
    position: relative;
    border-radius: 10px 10px 0 0;
    left: -2rem;
    top: 0;
    width: calc(100% + 4rem);
    height: 200px;

}

.card .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .card-title h5,
.card .card-title h4 {
    margin: 0.5rem 0;
}

.card .card-content p {
    margin: 0.5rem 0;
}

.card .card-footer {
    padding: 0.5rem 0;
    margin-top: auto;
}

.highlight .card .card-footer button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
}

.testimonials {
    background-color: #EDEFEE;
    padding: 3rem 0;
}

.testimonials h3 {
    text-align: center;
}

.testimonials .slider {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.testimonials .slider .card {
    margin: 0.5rem 1rem;
    padding: 1.5rem 1rem;
    grid-area: 'card';
    width: auto;
    background-color: #ffffff;
}

.testimonials .slider .card .card-title {
    justify-content: space-around;
    margin-bottom: 1rem;
}

.testimonials .slider .card img {
    background-color: #808080;

    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
}

.about-container {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 0 5rem;
    align-items: center;
}

.about-container .chef-images {
    justify-content: center;
    margin: 0 0 2rem 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.about-container .chef-images img {
    background-color: #808080;
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 10%;
}

.about-container .chef-images img#adrian {
    top: 25%;
    right: 40%;
}

.about-container .chef-images img#adrian:hover {
    scale: 110%;
}

.about-container .chef-images img#mario {
    left: 40%;
    top: 10%
}

.about-container .chef-images img#mario:hover {
    scale: 110%;
}

img {
    text-align: center;
}

@media (min-width:1400px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .hero-container .hero {
        margin: 0 0 0 3rem;
    }

    .hero-container .hero-image {
        width: 60%;
    }

    .about-container .chef-images img#adrian {
        right: 35%;
    }

    .about-container .chef-images img#mario {
        left: 35%;
    }
}

@media (max-width:1400px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .hero-container .container {
        padding: 0 10rem;
    }
}

@media (max-width:1200px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .highlight section {
        padding: 1rem 3rem 3rem;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
        margin: 0 auto;
    }

    .hero-container .container {
        padding: 0 5rem;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .header .container {
        padding: 0.75rem 1rem;
        grid-template-columns: 1fr 5rem;
        grid-template-rows: 45px 1fr;
        grid-template-areas:
            "logoH  btnH"
            "navH   navH";
    }

    .header,
    .header .container {
        transition: max-height 0.5s cubic-bezier(0.4,-0.01, 1, 1);
        max-height: 69px;
    }

    .header.show,
    .header .container.show {
        max-height: 100%;
    }

    .header .container .nav-button {
        grid-area: btnH;
        margin: 0 1rem;
    }

    .header .container .brand-logo {
        max-width: 200px;
        grid-area: logoH;
    }

    .header .container .nav-bar {
        transition: max-height 3s cubic-bezier(0.18, 0.89, 0.32, 1.29);
        grid-area: navH;
        max-height: 0;
        overflow: hidden;
    }

    .header .container .nav-bar.show {
        transition: max-height 0.3s 0.01s cubic-bezier(0.4,-0.01, 1, 1);
        max-height: 100%;
    }

    .header .container .nav-button {
        display: block;
    }

    .nav-bar {
        justify-content: center;
    }

    .nav-bar ul {
        flex-direction: column;
        flex-grow: 1;
        padding: 0 1rem;
    }

    .footer .container {
        padding: 2rem;
        grid-template-columns: 70% 30%;
        row-gap: 20px;
        grid-template-rows: repeat(2, auto);
    }

    .hero-container {
        background-color: #808080;
        padding: 3rem 1rem;
    }

    .hero-container .container {
        margin: 1rem;
        text-align: center;
        padding: 0 0 2rem 0;
        grid-template-columns: unset;
    }

    .hero p {
        max-width: 100%;
    }

    .hero-container .hero-image {
        display: none;
    }

    .highlight section {
        flex-wrap: wrap;
    }

    .highlight .title-bar {
        margin: 0 4rem;
    }

    .testimonials .slider {
        display: flex;
        flex-wrap: wrap;
    }

    .testimonials .slider .card {
        max-width: calc(50% - 5rem);
    }

    .about-container {
        padding: 0 2rem;
    }
}

@media (max-width:576px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .footer .container {
        grid-template-columns: repeat(2, 50%);
    }

    .highlight section {
        padding: 1rem 3rem;
    }

    .highlight .title-bar {
        margin: 0 2rem;
    }

    .testimonials .slider .card {
        max-width: 100% !important;
        margin: 0.5rem 2rem;
    }

    .about-container {
        text-align: center;
        grid-template-columns: unset;
        display: block;
        padding: 0 2rem;
        margin: 0 0 3rem;
    }

    .about-container .chef-images {
        margin: 0
    }

    .about-container .chef-images img {
        position: initial;
    }
}